@import url(accessories.css);

a.article-link {
    text-decoration: none !important;
    color: var(--text-dark);
}

section.article-box {
    background-color: var(--item);
    border: 1px solid var(--item-border);
    margin: 10px 0px;
    padding: 25px;
    border-radius: 5px;
}

section.article-box:hover {
    background-color: var(--item-hover);
    color: var(--text-scarlet);
}

h3.article-title {
    margin-bottom: 10px;
}

p.article-author {
    margin-top: 10px;
}

div.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 600px){
    div.flex {
        flex-direction: row;
    }

    p.article-author {
        margin-top: 0px;
    }

    section.article-box {
        margin: 10px;
    }
}
